<ion-header>
  <ion-toolbar color="tertiary">  
    <ion-buttons slot="start">
      <ion-back-button defaultHref="cashier"></ion-back-button>
    </ion-buttons>
    <ion-title><ion-icon name="analytics-outline" slots="start"></ion-icon> History Transaksi</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <ion-item *ngFor="let item of child">
        <ion-label class="ion-text-wrap">
          <ion-text color="primary">
            <h3>{{item.kode}}</h3>
          </ion-text>
          <p>{{item.tanggal}}</p>
          <ion-text color="secondary">
            <p>Jumlah : {{item.jumlah | currency : 'Rp. '}}</p>
          </ion-text>
        </ion-label>
      </ion-item>
    </ion-card>
    
</ion-content>
